name: Generate greeting output

on:
    workflow_call:
        inputs:
            name:
                required: true
                default: "Alejandro"
                type: string
        outputs:
            sentence:
                description: "Sentence to greet the user"
                value: ${{ jobs.generate_sentence.outputs.saludo }}
            timestamp:
                description: "when the greeting was generated"
                value: ${{ jobs.generate_sentence.outputs.tiempo }}
            

jobs:
    generate_sentence:
        runs-on: ubuntu-latest
        outputs:
            saludo: ${{ steps.gen_greeting.outputs.saludo }}
            tiempo: ${{ steps.gen_time.outputs.tiempo }}
        steps:
        - name: Generate the greeting
          id: gen_greeting
          run: |
            salute="Hi ${{ inputs.name }}! Learning!"
            echo "saludo=$salute" >> $GITHUB_OUTPUT
        - name: Generate the moment of greeting
          id: gen_time
          run: |
            echo "tiempo=El mensaje fue generado a esta hora: $(date)" >> $GITHUB_OUTPUT
