name: My first workflow

on:
    workflow_dispatch:
    schedule:
        - cron: '0 5 * * 1-5'
    push:
        branches:
            - main
    pull_request:
        branches:
            - main

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - name: Check out repository
              uses: actions/checkout@v4

            - name: Use Node.js
              uses: actions/setup-node@v3
              with:
                node-version: latest

            - name: Install dependencies
              run: |
                npm install
                npm ci

            - name: Run test
              run: npm test
            
            - name: Print a message
              run: echo "Hello world"