name: My first workflow

on:
    workflow_dispatch:
    schedule:
        - cron: '0 5 * * 1-5'
    push:
        branches:
            - main
    pull_request:
        branches:
            - main

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - name: Check out repository
              uses: actions/checkout@v4

            - name: Use Node.js
              uses: actions/setup-node@v3
              with:
                node-version: latest
    use_sentence:
        uses: ./.github/workflows/action.yml
        with:
            name: 'Alejandro'
    use_output:
        needs: use_sentence
        runs-on: ubuntu-latest
        steps:
            - name: Usar frase
              run: |
                echo "La frase es ${{ needs.use_sentence.outputs.sentence }}"

            