name: Parallel job example

on:
    workflow_dispatch:
    schedule:
        - cron: '0 5 * * 1-5'
    push:
        branches:
            - main
    pull_request:
        branches:
            - main
env:
    DEBUG: 'false'
jobs:
    build-ant-test-1:
        runs-on: ubuntu-latest

        steps:
            - name: Check out repository
              uses: actions/checkout@v4

            - name: Use Node.js
              uses: actions/setup-node@v3
              with:
                node-version: latest

            - name: Print a message if the workflow was trigger from main branch
              if: github.ref == 'refs/heads/main'
              run: echo "This is the main branch"

            - name: Print a message if the workflow was trigger by a non-main branch
              if: github.ref != 'refs/heads/main'
              run: echo "This is not the main branch"

            - name: Running test
              run: npm test
            
            - name: Debug message
              if: env.DEBUG == 'true'
              run: echo "Debuggin enabled"
    
    build-and-test-2:
        runs-on: ubuntu-latest

        steps:
            - name: Check out repository
              uses: actions/checkout@v4

            - name: Use Node.js
              uses: actions/setup-node@v3
              with:
                node-version: latest

            - name: Print a message if the workflow was trigger from main branch
              if: github.ref == 'refs/heads/main'
              run: echo "This is the main branch"

            - name: Print a message if the workflow was trigger by a non-main branch
              if: github.ref != 'refs/heads/main'
              run: echo "This is not the main branch"

            - name: Running test
              run: npm test
            
            - name: Debug message
              if: env.DEBUG == 'true'
              run: echo "Debuggin enabled"

    post-build-actions:
        needs: [build-and-test-2, build-and-test-2]
        runs-on: ubuntu-latest
        steps:
            - name: Publish test actions
              uses: actions/upload-artifact@v3
              with:
                name: test-results
                path: test-results.xml
